In [77]:
import requests, os
import pandas as pd
import numpy as np
from datetime import datetime
from tqdm import tqdm_notebook
from collections import Counter

pd.set_option('max_columns', 100, 'max_rows', 100)

In [2]:
vmonthdays = {'0331', '0630', '0930', '1231'} # vintage date is the last day of each quarter
omonthdays = {'0101', '0401', '0701', '1001'} # observation date is the first day of each quarter

In [3]:
fred_variables = ['UNRATE', 'CPIAUCSL', 'GDPC1', 'FEDFUNDS']

In [4]:
startdate = pd.to_datetime('1947-01-01')
enddate = pd.to_datetime('2019-03-31')

In [5]:
def vintage_dates(monthdays, start=startdate, end=enddate):
    '''Return a list of all vintage dates between two dates
       Make sure the starting/ending dates are either both strings or both datetime objects'''
    dates = pd.date_range(start, end)
    return [date for date in dates if date.strftime('%m%d') in monthdays]

vdates = vintage_dates(monthdays=vmonthdays)
odates = vintage_dates(monthdays=omonthdays)

In [6]:
def float_or_nan(x):
    '''Convert a string to either a float number or NaN'''
    try:
        return float(x)
    except:
        return float('nan')

In [7]:
params = {'api_key': '583d28835966b0340e377c34a107da91', 'file_type': 'json',
          'observation_start': '1947-01-01', 'realtime_start': startdate.strftime('%Y-%m-%d'), 'realtime_end': enddate.strftime('%Y-%m-%d')}
url = 'https://api.stlouisfed.org/fred/series/observations'

In [ ]:
full_date_range = pd.DataFrame({'dates': pd.date_range(start=startdate, end=enddate)})

for varindex, varname in tqdm_notebook(enumerate(fred_variables), total=len(fred_variables)):
    
    print(f'Downloading {varname} ...')
    # retreive series from FRED
    params.update({'series_id': varname})
    page = requests.get(url, params=params, timeout=20)
    assert page.status_code == 200, f'Cannot download {varname} series, check the request command!'
    
    print(f'Transforming data to DataFrame objects ...')
    # convert data type from JSON -> DataFrame
    observations = pd.DataFrame(page.json()['observations'])
    # convert values from string -> float
    observations['value'] = observations['value'].map(lambda x: float_or_nan(x))
    # convert dates from string -> datetime
    for column in observations.columns:
        if column != 'value':
            observations[column] = pd.to_datetime(observations[column])
    
    print(f'Checking data formats ...')
    # check the frequency of the data
    obs_in_year = Counter(dict(Counter([str(dts)[:4] for dts in observations['date'].unique()])).values()).most_common()[0]
    if obs_in_year[0] == 4:
        frequency = 'Q'
    elif obs_in_year[0] == 12:
        frequency = 'M'
    elif obs_in_year[0] == 52:
        frequency = 'W'
    elif obs_in_year[0] > 250:
        frequency = 'D'
    else:
        input(f'Most time there are {obs_in_year[0]} observations in each year, frequency should be (Q, M, W, D): ', frequency)
        assert frequency in {'Q', 'M', 'W', 'D'}, f'Wrong frequency!'
    
    # check whether the data is revised
    realtime = set(observations['realtime_start']).union(set(observations['realtime_end']))
    if len(realtime) == 1:
        revised = 0
    else:
        revised = 1
        
    print(f'Reshaping data ...')
    # add observation dates
    not_observed_dates = set(odates).difference(set(observations['date']))
    for date in not_observed_dates:
        observations.loc[observations.shape[0], :] = [startdate, enddate, date, float('nan')]
    observations.sort_values(by='date', inplace=True)
    observations.reset_index(drop=True, inplace=True)
    
    print(f'Reshaping data continued ...')
    # add vintage dates reshape column to ['dates', 'vintages', 'values', 'fred_variables']
    # if no observation fill with float('nan')
    # 'date' -> 'date'
    # 'realtime_start' and 'realtime_end' -> 'vintage'
    # 'value' -> 'value'
    # 'fred_variables' -> name of the variable
    for groupindex, (_, group) in enumerate(observations.groupby('date')):
        temp_values = [float('nan')]*len(vdates)
        for _, row in group.iterrows():
            for index, date in enumerate(vdates):
                if row['realtime_start'] <= date <= row['realtime_end']:
                    temp_values[index] = row['value']
        temp_df = pd.DataFrame({'dates': row['date'], 'vintages': vdates, 'values': temp_values, 'fred_variables': varname})
        df = temp_df if groupindex == 0 else pd.concat([df, temp_df])
        
    # find out the minimal vintage and date that are not NaN
    # df_withoutnan = df[df['values'].map(lambda x: type(x) == float and not np.isnan(x))].copy()
    # min_vintage_withvalue, min_date_withvalue = df_withoutnan.vintages.min(), df_withoutnan.dates.min()

    print(f'Reshaping data continued and continued ...')
    if not frequency == 'Q':
        print('Variable not in quarterly frequency, need to take the average within each quarter: ')
    # reshape data structure to
    # columns = ['dates', 'fred_variables' 'VINTAGE1', 'VINTAGE2', ...]
    # row = ['date1', 'date2', ...]
    for vindex, (vintage, vgroup) in enumerate(df[['dates', 'values']].groupby(df['vintages'])):
        if not frequency == 'Q':
            print(str(vintage.year)[2:]+'Q'+str(vintage.quarter), end=' ')

            if frequency in {'W', 'D'}:
                vgroup = pd.merge(vgroup, full_date_range, on='dates', how='outer').sort_values(by='dates', ascending=True)

            vgroup.reset_index(drop=True, inplace=True)

            quarterly_values = []
            quarterly_dates = []
            next_month = {1:4, 4:7, 7:10, 10:1}

            for index, row in vgroup.iterrows():
                if row['dates'].month in {1,4,7,10} and row['dates'].day == 1:
                    quarterly_dates.append(row['dates'])

                    if row['dates'] > vintage: # or vintage < min_vintage_withvalue or row['dates'] < min_date_withvalue:
                        quarterly_values.append(float('nan'))
                    else:
                        found = False
                        i = index+1
                        while found == False:
                            if i == vgroup.shape[0] or (vgroup.loc[i, 'dates'].month == next_month[row['dates'].month] and vgroup.loc[i, 'dates'].day == 1):
                                found = True
                            else:
                                i += 1
                        quarterly_values.append(vgroup.loc[index:i, 'values'].mean())

            vgroup = pd.DataFrame({'dates': quarterly_dates, 'values': quarterly_values})

        vgroup.columns = ['dates', str(vintage.year) + 'Q' + str((vintage.month+2)//3)]
        df2 = vgroup if vindex == 0 else pd.merge(df2, vgroup, how='outer')        
    df2['fred_variables'] = varname
    if not frequency == 'Q':
        print()
        
    print(f'Merging ...')
    # rename columns and merge all DataFrames
    df_raw = df2 if varindex == 0 else pd.concat([df_raw, df2])
    
# re-arrange the order of the columns
df_raw = df_raw[[df_raw.columns[0]] + [df_raw.columns[-1]] + list(df_raw.columns[1:-1])]
df_raw.reset_index(drop=True, inplace=True)

In [ ]:
df_raw.fillna(float('nan'), inplace=True)

In [ ]:
# save to disk
df_raw.to_csv('alfred_raw.csv')

In [23]:
df_raw = pd.read_csv('alfred_raw.csv', index_col=0)

In [24]:
df_raw['dates'] = pd.to_datetime(df_raw['dates'])

In [25]:
observables = ['UNR_US', 'LCPI_US', 'LGDP_US', 'RS_US']

In [26]:
df_observables = pd.DataFrame({'dates': list(df_raw['dates'].unique()) * len(observables), 
                               'observables': np.array([[observable] * len(df_raw['dates'].unique()) for observable in observables]).reshape(1, -1).tolist()[0]})

for vintage in df_raw.columns[2:].tolist():
    
    print(vintage[2:], end=' ')
    
    # df_vintage
    # column = ['dates', 'VARIABLE1', 'VARIABLE2', ...]
    # row = ['date1', 'date2', ...]
    temp = df_raw.loc[:, ['dates', 'fred_variables', vintage]].copy()
    df_vintage = pd.DataFrame({'dates': df_raw['dates'].unique()})
    for varname in fred_variables:
        df_vintage[varname] = temp[temp['fred_variables']==varname][vintage].tolist()
    
    # observables
    df_vintage['UNR_US'] = df_vintage['UNRATE']
    df_vintage['LCPI_US'] = df_vintage['CPIAUCSL'].map(lambda x: np.log(x)*100)
    df_vintage['LGDP_US'] = df_vintage['GDPC1'].map(lambda x: np.log(x)*100)
    df_vintage['RS_US'] = df_vintage['FEDFUNDS']
    
    # concatenate the values of all observables
    df_observables[vintage] = np.array(df_vintage[observables]).transpose().reshape(1, -1).tolist()[0]
    
df_observables.reset_index(drop=True, inplace=True)

47Q1 47Q2 47Q3 47Q4 48Q1 48Q2 48Q3 48Q4 49Q1 49Q2 49Q3 49Q4 50Q1 50Q2 50Q3 50Q4 51Q1 51Q2 51Q3 51Q4 52Q1 52Q2 52Q3 52Q4 53Q1 53Q2 53Q3 53Q4 54Q1 54Q2 54Q3 54Q4 55Q1 55Q2 55Q3 55Q4 56Q1 56Q2 56Q3 56Q4 57Q1 57Q2 57Q3 57Q4 58Q1 58Q2 58Q3 58Q4 59Q1 59Q2 59Q3 59Q4 60Q1 60Q2 60Q3 60Q4 61Q1 61Q2 61Q3 61Q4 62Q1 62Q2 62Q3 62Q4 63Q1 63Q2 63Q3 63Q4 64Q1 64Q2 64Q3 64Q4 65Q1 65Q2 65Q3 65Q4 66Q1 66Q2 66Q3 66Q4 67Q1 67Q2 67Q3 67Q4 68Q1 68Q2 68Q3 68Q4 69Q1 69Q2 69Q3 69Q4 70Q1 70Q2 70Q3 70Q4 71Q1 71Q2 71Q3 71Q4 72Q1 72Q2 72Q3 72Q4 73Q1 73Q2 73Q3 73Q4 74Q1 74Q2 74Q3 74Q4 75Q1 75Q2 75Q3 75Q4 76Q1 76Q2 76Q3 76Q4 77Q1 77Q2 77Q3 77Q4 78Q1 78Q2 78Q3 78Q4 79Q1 79Q2 79Q3 79Q4 80Q1 80Q2 80Q3 80Q4 81Q1 81Q2 81Q3 81Q4 82Q1 82Q2 82Q3 82Q4 83Q1 83Q2 83Q3 83Q4 84Q1 84Q2 84Q3 84Q4 85Q1 85Q2 85Q3 85Q4 86Q1 86Q2 86Q3 86Q4 87Q1 87Q2 87Q3 87Q4 88Q1 88Q2 88Q3 88Q4 89Q1 89Q2 89Q3 89Q4 90Q1 90Q2 90Q3 90Q4 91Q1 91Q2 91Q3 91Q4 92Q1 92Q2 92Q3 92Q4 93Q1 93Q2 93Q3 93Q4 94Q1 94Q2 94Q3 94Q4 95Q1 95Q2 95Q3 95Q4 96Q1 96Q2 96Q3 96Q4 97Q1 97Q2 97Q3 97Q4 98Q1 98Q2 98Q3 98Q4 99Q1 99Q2 99Q3 99Q4 00Q1 00Q2 00Q3 00Q4 01Q1 01Q2 01Q3 01Q4 02Q1 02Q2 02Q3 02Q4 03Q1 03Q2 03Q3 03Q4 04Q1 04Q2 04Q3 04Q4 05Q1 05Q2 05Q3 05Q4 06Q1 06Q2 06Q3 06Q4 07Q1 07Q2 07Q3 07Q4 08Q1 08Q2 08Q3 08Q4 09Q1 09Q2 09Q3 09Q4 10Q1 10Q2 10Q3 10Q4 11Q1 11Q2 11Q3 11Q4 12Q1 12Q2 12Q3 12Q4 13Q1 13Q2 13Q3 13Q4 14Q1 14Q2 14Q3 14Q4 15Q1 15Q2 15Q3 15Q4 16Q1 16Q2 16Q3 16Q4 17Q1 17Q2 17Q3 17Q4 18Q1 18Q2 18Q3 18Q4 19Q1

In [27]:
for index, row in df_observables.iterrows():
    for col in df_observables.columns[2:]:
        break
    break

In [57]:
row

1972Q3           NaN
1972Q4           NaN
1973Q1           NaN
1973Q2           NaN
1973Q3           NaN
             ...
2018Q1    308.076252
2018Q2    308.076252
2018Q3    308.076252
2018Q4    308.076252
2019Q1    308.076252
Name: 1947:Q1, Length: 187, dtype: float64

In [80]:
for name, group in df_observables.groupby('observables'):
    group.loc[:, 'dates'] = group['dates'].map(lambda x: str(x.year)+':Q'+str(x.quarter)) # change date format
    group.set_index('dates', drop=True, inplace=True) # set date as index
    group.index.name = 'DATE' # change index name
    group.drop('observables', axis=1, inplace=True) # drop the 'observables' column
    
    # drop some all NaN columns, otherwise "column index (256) not an int in range(256)"
    drop_columns = [col for col in group.columns if all(np.isnan(group[col]))]
    group.drop(drop_columns, axis=1, inplace=True) 
    
    # fill nans
    group_copy = group.copy()
    for index, row in tqdm_notebook(group.iterrows(), total=group.shape[0]):
        for col in group.columns:
            if np.isnan(row[col]):
                if int(col.replace('Q', '')) > int(index.replace(':Q', '')):
                    group_copy.loc[index, col] = -99
                else:
                    group_copy.loc[index, col] = -999
                    
    group.columns = [name + col[-4:] for col in group.columns] # change column name
    
    group_copy.to_excel(os.getcwd()+'/withspf/'+name+'.xls')

HBox(children=(IntProgress(value=0, max=289), HTML(value='')))

HBox(children=(IntProgress(value=0, max=289), HTML(value='')))

HBox(children=(IntProgress(value=0, max=289), HTML(value='')))

HBox(children=(IntProgress(value=0, max=289), HTML(value='')))

In [81]:
for name, group in df_observables.groupby('observables'):
    group.loc[:, 'dates'] = group['dates'].map(lambda x: str(x.year)+':Q'+str(x.quarter)) # change date format
    group.set_index('dates', drop=True, inplace=True) # set date as index
    group.index.name = 'DATE' # change index name
    group.drop('observables', axis=1, inplace=True) # drop the 'observables' column
    
    # drop some all NaN columns, otherwise "column index (256) not an int in range(256)"
    drop_columns = [col for col in group.columns if all(np.isnan(group[col]))]
    group.drop(drop_columns, axis=1, inplace=True) 
    
    # fill nans
    group_copy = group.copy()
    for index, row in tqdm_notebook(group.iterrows(), total=group.shape[0]):
        for col in group.columns:
            if np.isnan(row[col]):
                if int(col.replace('Q', '')) > int(index.replace(':Q', '')):
                    group_copy.loc[index, col] = -99
                else:
                    group_copy.loc[index, col] = -999
            if int(col.replace('Q', '')) == int(index.replace(':Q', '')):
                group_copy.loc[index, col] = -999
                
    group.columns = [name + col[-4:] for col in group.columns] # change column name
    
    group_copy.to_excel(os.getcwd()+'/withoutspf/'+name+'.xls')

HBox(children=(IntProgress(value=0, max=289), HTML(value='')))

HBox(children=(IntProgress(value=0, max=289), HTML(value='')))

HBox(children=(IntProgress(value=0, max=289), HTML(value='')))

HBox(children=(IntProgress(value=0, max=289), HTML(value='')))