In [44]:
import pandas as pd
from datetime import datetime
pd.set_option('max_rows', 100)

In [45]:
df = pd.read_excel('test.xlsx')

In [46]:
# quarterly = []
# for index, row in df.iterrows():
#     if row['observation_date'].month in {1, 4, 7, 10}:
#         quarterly.append((row['CE16OV_20110107']+df.loc[index+1,'CE16OV_20110107']+df.loc[index+2,'CE16OV_20110107'])/3)

# len(quarterly) == df.shape[0]/3

In [51]:
df_dates = pd.DataFrame({'date': pd.date_range(start='1997-01-01', end='2019-09-30')})

In [52]:
df_dates.head()

        date
0 1997-01-01
1 1997-01-02
2 1997-01-03
3 1997-01-04
4 1997-01-05

In [54]:
df = pd.merge(df_dates, df, on='date', how='outer')

In [55]:
quarterly_values = []
quarterly_dates = []
next_month = {1:4, 4:7, 7:10, 10:1}
for index, row in df.iterrows():
    if row['date'].month in {1,4,7,10} and row['date'].day == 1:
        print(f"{row['date']}: {row['value']}")
        found = False
        i = index+1
        while found == False:
            if df.loc[i, 'date'].month == next_month[row['date'].month] and df.loc[i, 'date'].day == 1:
                found = True
            else:
                i += 1
        print(f'{index}, {i}')
        quarterly_values.append(df.loc[index:i, 'value'].mean())
        quarterly_dates.append(row['date'])

1997-01-01 00:00:00: NaT
0, 90
1997-04-01 00:00:00: 7.69
90, 181
1997-07-01 00:00:00: 7.27
181, 273
1997-10-01 00:00:00: 6.89
273, 365
1998-01-01 00:00:00: NaT
365, 455
1998-04-01 00:00:00: 6.76
455, 546
1998-07-01 00:00:00: 6.65
546, 638
1998-10-01 00:00:00: 6.39
638, 730
1999-01-01 00:00:00: NaT
730, 820
1999-04-01 00:00:00: 7.0
820, 911
1999-07-01 00:00:00: 7.53
911, 1003
1999-10-01 00:00:00: 7.85
1003, 1095
2000-01-01 00:00:00: NaT
1095, 1186
2000-04-01 00:00:00: NaT
1186, 1277
2000-07-01 00:00:00: NaT
1277, 1369
2000-10-01 00:00:00: NaT
1369, 1461
2001-01-01 00:00:00: NaT
1461, 1551
2001-04-01 00:00:00: NaT
1551, 1642
2001-07-01 00:00:00: NaT
1642, 1734
2001-10-01 00:00:00: 6.83
1734, 1826
2002-01-01 00:00:00: NaT
1826, 1916
2002-04-01 00:00:00: 7.52
1916, 2007
2002-07-01 00:00:00: 7.11
2007, 2099
2002-10-01 00:00:00: 6.78
2099, 2191
2003-01-01 00:00:00: NaT
2191, 2281
2003-04-01 00:00:00: 5.61
2281, 2372
2003-07-01 00:00:00: 4.81
2372, 2464
2003-10-01 00:00:00: 4.89
2464, 2556
2004-01-01 00:00:00: NaT
2556, 2647
2004-04-01 00:00:00: 4.64
2647, 2738
2004-07-01 00:00:00: 5.4
2738, 2830
2004-10-01 00:00:00: 5.03
2830, 2922
2005-01-01 00:00:00: NaT
2922, 3012
2005-04-01 00:00:00: 5.65
3012, 3103
2005-07-01 00:00:00: 5.32
3103, 3195
2005-10-01 00:00:00: NaT
3195, 3287
2006-01-01 00:00:00: NaT
3287, 3377
2006-04-01 00:00:00: NaT
3377, 3468
2006-07-01 00:00:00: NaT
3468, 3560
2006-10-01 00:00:00: NaT
3560, 3652
2007-01-01 00:00:00: NaT
3652, 3742
2007-04-01 00:00:00: NaT
3742, 3833
2007-07-01 00:00:00: NaT
3833, 3925
2007-10-01 00:00:00: 6.22
3925, 4017
2008-01-01 00:00:00: NaT
4017, 4108
2008-04-01 00:00:00: 6.59
4108, 4199
2008-07-01 00:00:00: 6.79
4199, 4291
2008-10-01 00:00:00: 7.89
4291, 4383
2009-01-01 00:00:00: NaT
4383, 4473
2009-04-01 00:00:00: 9.41
4473, 4564
2009-07-01 00:00:00: 7.2
4564, 4656
2009-10-01 00:00:00: 5.69
4656, 4748
2010-01-01 00:00:00: NaT
4748, 4838
2010-04-01 00:00:00: 5.15
4838, 4929
2010-07-01 00:00:00: 4.97
4929, 5021
2010-10-01 00:00:00: 4.33
5021, 5113
2011-01-01 00:00:00: NaT
5113, 5203
2011-04-01 00:00:00: 4.67
5203, 5294
2011-07-01 00:00:00: 4.49
5294, 5386
2011-10-01 00:00:00: NaT
5386, 5478
2012-01-01 00:00:00: NaT
5478, 5569
2012-04-01 00:00:00: NaT
5569, 5660
2012-07-01 00:00:00: NaT
5660, 5752
2012-10-01 00:00:00: 3.47
5752, 5844
2013-01-01 00:00:00: NaT
5844, 5934
2013-04-01 00:00:00: 3.36
5934, 6025
2013-07-01 00:00:00: 4.06
6025, 6117
2013-10-01 00:00:00: 4.04
6117, 6209
2014-01-01 00:00:00: NaT
6209, 6299
2014-04-01 00:00:00: 3.71
6299, 6390
2014-07-01 00:00:00: 3.46
6390, 6482
2014-10-01 00:00:00: 3.57
6482, 6574
2015-01-01 00:00:00: NaT
6574, 6664
2015-04-01 00:00:00: 3.42
6664, 6755
2015-07-01 00:00:00: 3.94
6755, 6847
2015-10-01 00:00:00: 4.12
6847, 6939
2016-01-01 00:00:00: NaT
6939, 7030
2016-04-01 00:00:00: 3.87
7030, 7121
2016-07-01 00:00:00: 3.41
7121, 7213
2016-10-01 00:00:00: NaT
7213, 7305
2017-01-01 00:00:00: NaT
7305, 7395
2017-04-01 00:00:00: NaT
7395, 7486
2017-07-01 00:00:00: NaT
7486, 7578
2017-10-01 00:00:00: NaT
7578, 7670
2018-01-01 00:00:00: NaT
7670, 7760
2018-04-01 00:00:00: NaT
7760, 7851
2018-07-01 00:00:00: NaT
7851, 7943
2018-10-01 00:00:00: 4.45
7943, 8035
2019-01-01 00:00:00: NaT
8035, 8125
2019-04-01 00:00:00: 4.1
8125, 8216
2019-07-01 00:00:00: 3.57

KeyError: 8308

In [60]:
df2 = pd.DataFrame({'dates': quarterly_dates, 'values': quarterly_values})

In [57]:
df2

        dates    values
0  1997-01-01  7.385968
1  1997-04-01  7.510000
2  1997-07-01  7.067727
3  1997-10-01  6.874545
4  1998-01-01  6.725455
5  1998-04-01  6.746364
6  1998-07-01  6.693582
7  1998-10-01  6.760758
8  1999-01-01  6.869697
9  1999-04-01  7.196212
10 1999-07-01  7.678971
11 1999-10-01  7.926866
12 2000-01-01  8.189231
13 2000-04-01  8.548462
14 2000-07-01  8.251061
15 2000-10-01  8.231692
16 2001-01-01  7.538462
17 2001-04-01  7.353231
18 2001-07-01  6.988125
19 2001-10-01  6.898308
20 2002-01-01  7.102812
21 2002-04-01  7.267015
22 2002-07-01  7.036912
23 2002-10-01  6.727727
24 2003-01-01  5.843594
25 2003-04-01  5.033182
26 2003-07-01  5.226029
27 2003-10-01  5.076970
28 2004-01-01  4.660746
29 2004-04-01  5.323692
30 2004-07-01  5.139265
31 2004-10-01  5.001667
32 2005-01-01  5.258750
33 2005-04-01  5.514179
34 2005-07-01  5.415970
35 2005-10-01  5.825231
36 2006-01-01  5.790156
37 2006-04-01  6.256462
38 2006-07-01  6.190909
39 2006-10-01  5.913385
40 2007-01-01  5.902462
41 2007-04-01  6.072344
42 2007-07-01  6.300149
43 2007-10-01  6.180154
44 2008-01-01  6.250156
45 2008-04-01  6.584030
46 2008-07-01  6.992206
47 2008-10-01  9.615000
48 2009-01-01  9.263939
49 2009-04-01  8.265455
50 2009-07-01  6.415522
51 2009-10-01  5.584091
52 2010-01-01  5.196667
53 2010-04-01  5.056923
54 2010-07-01  4.600735
55 2010-10-01  4.442687
56 2011-01-01  4.677846
57 2011-04-01  4.410303
58 2011-07-01  4.273731
59 2011-10-01  4.534000
60 2012-01-01  4.216923
61 2012-04-01  4.031692
62 2012-07-01  3.699403
63 2012-10-01  3.364844
64 2013-01-01  3.367344
65 2013-04-01  3.460448
66 2013-07-01  4.066818
67 2013-10-01  3.905455
68 2014-01-01  3.740312
69 2014-04-01  3.516667
70 2014-07-01  3.480441
71 2014-10-01  3.635152
72 2015-01-01  3.615385
73 2015-04-01  3.638462
74 2015-07-01  3.990149
75 2015-10-01  4.170303
76 2016-01-01  4.332308
77 2016-04-01  3.658657
78 2016-07-01  3.300896
79 2016-10-01  3.630769
80 2017-01-01  3.740781
81 2017-04-01  3.576000
82 2017-07-01  3.483485
83 2017-10-01  3.551846
84 2018-01-01  3.899531
85 2018-04-01  4.299242
86 2018-07-01  4.366716
87 2018-10-01  4.672769
88 2019-01-01  4.383231
89 2019-04-01  3.897879

In [58]:
# quarterly = list(df.apply(lambda x: [(x[1]+x[2]+x[3])/3, (x[4]+x[5]+x[6])/3, (x[7]+x[8]+x[9])/3, (x[10]+x[11]+x[12])/3], axis=1))
# quarterly = [j for i in quarterly for j in i]

In [59]:
df2 = pd.DataFrame({'quarterly': quarterly})

In [61]:
df2.to_excel('test2.xlsx')